body {
    margin: 0;    
}


h1 {
    color: white;
    text-align: center;
    font-family: "Lobster";
    font-size: 7em;
    text-shadow: 5px 5px 0px rgba(0,0,0,0.85);
    height: 70px ;
    margin-top: 10px ;
}

h2 {
    font-size: 3.5em ;
    font-weight: 300 ;
    padding: 10px ;
    border-bottom: 2px #000000 solid;
    width : 70% ; 
    text-align: center ; 
    margin: auto ;   
}


p {
    font-family: "Playfair Display";
}


.liste1 , .liste2 , .liste3 {
    font-family: "Playfair Display";
    font-weight: 600 ;
    text-align: left;
    font-size: 2em ;
    padding: 50px;
}

.liste1 p {
    margin-left: 330px; 
}

.liste2 p {
    margin-left: 300px; 
}

.liste3 p {
    margin-left: 300px; 
}

a:visited {
    color: black;
}

a {
    color: black;
    font-size: 1.4em;
    font-weight: 600;
    text-decoration: none;
}


.logo_droite {
    text-align: right;
}
 

.position_logo {
    padding: 40px ;
    display: flex;
    justify-content: center ;
    align-items: center ;
    gap: 150px ; 
}

.position_logo1 {
    flex-wrap: wrap; 
    padding: 40px ;
    display: flex;
    justify-content: center ;
    align-items: center ;
    gap: 150px ; 
}

.position_logo3 {
    padding: 140px ;
    display: flex;
    justify-content: center ;
    align-items: center ;
    gap: 150px ; 
}

.intro1 {
    font-size: 2em;
    text-shadow: 4px 1px 2px rgb(255, 254, 255);
    font-weight: 700;
    text-align: center;
    height: 15 px;
}

.intro2 {
    font-size: 3em;
    text-shadow: 4px 1px 2px rgb(255, 254, 255);
    font-weight: 700;
    text-align: center;
    height: 10px ;
}

.intro3 {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    height: 50px ;
}

.intro4 {
    font-size: 3em;
    text-shadow: 4px 1px 2px rgb(255, 254, 255);
    font-weight: 600;
    text-align: center;
    padding-top: 30px ;
}

.intro5 {
    font-size: 1.8em;
    font-weight: 595 ;
    text-align: center;
    padding-top: 30px ;
}


.bann {
    background-image: url("fond3.jpg");
    background-position: bottom;
    background-attachment:fixed;
    background-size: cover; 
    padding: 20px ; 
    margin: 0 px;
    height: 660px;
}

.bann2 {
    background-image: url("fond3.jpg");
    background-position: bottom;
    background-attachment:fixed;
    background-size: cover; 
    padding: 20px ; 
    margin: 0 px;
    height: 25px;
}


.bandeau1 {
    background-image: url("fond7.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment:fixed;
    margin: 0 px ;
    padding: 20px ;  
}

.bandeau2 {
    background-image: url("fond6.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment:fixed;
    margin: 0 px ;
    padding: 20px ;
    padding-bottom: 30px ;
}

.bandeau3 {
    background-image: url("fond7.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment:fixed;
    margin: 0 px ;
    padding: 20px ;
    height : 590px ;   
}

.bouton {
    background: white; 
    border-radius: 40px;
    padding-top: 10px; 
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
 }

 .box1 {
    display: flex;  
    flex-direction: row ;
    align-items: center;
    gap: 15px; 
    padding-top: 0;
    margin: 0 ;
    height: 26px ;
} 

.box2 {
    display: flex;
    flex-direction: row ; 
    flex-wrap: wrap; 
    /* align-content: space-between ; */
    font-family: "Playfair Display";
    font-weight: 600 ;
    font-size: 1.4em ;
    margin-top: 20px ;
    gap : 30px ;
} 

.databird , .OC , .rgpd , .cybersécurité {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: rgb(255, 204, 204) ; 
    border-radius: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 650px ; 
    height : 200px ; 
    text-align: center;
 
} 

.box3 {
    display: flex;
    flex-direction: row ; 
    flex-wrap: wrap; 
    font-family: "Playfair Display";
    gap : 30px ;
    font-family: "Playfair Display";
    font-weight: 600 ;
    text-align: left;
    font-size: 2em ;
    padding: 50px;
} 

.box3a , .box3b , .box3c {
    display: flex;
    flex-direction: column ;
    align-items: center ;
    justify-content: left ;
    margin: auto;
    width: 300px ; 
    height : 200px ; 
    text-align: center;
}

html {
    overflow-y: scroll;
}

